#cabeceraweb {
   background: #00F;
}

#navegacionPrincipal {
   background-color: brown;

}

#barraLateral {
   background-color: forestgreen;
   float: left;
   height: 1399px;
}

#contenidoPrincipal {
   background-color: indigo;
   margin-left: 203px;
   padding-left: 15px;
   padding-top: 15px;
}

#piePrincipal {
   background-color: pink;
   clear: both;
   margin-top: 50px;
}

li {
   background-color: yellow;
   display: inline;
}