#cajaImagen {
   float: left;
   width: 300px;
   margin: 30px;
   border: 1px solid #F00;
}

#zonaDestino {
   float: left;
   width: 550px;
   height: 400px;
   margin: 100px;
   border: 1px solid #00F;
}