nav {
  margin: 5px 0;
}

#botones {
  float: left;
  width: 100px;
  height: 20px;
}

#barra {
  background: #fff;
  width: 600px;
  height: 16px;
  border: 1px solid #666;
  padding: 3px;
  margin-left: 80px;
}

#progreso {
  position: absolute;
  width: 0px;
  height: 16px;
  background: rgba(0, 0, 150, 0.2);
}
