#contenido {
   float: left;
   padding: 30px;
   border: 2px dotted #F00;
}

#zonadatos {
   float: left;
   width: 600px;
   margin-left: 30px;
   padding: 30px;
   border: 2px dotted #00F;
}

#contenido span {
   color: #0000FF;
   cursor: pointer;
}