* {
   margin: 0px;
   padding: 0px;
}

#cabeceralogo {
   width: 96%;
   height: 150px;
   padding: 0% 2%;
   background-color: #0F76A0;
   display: flex;
   justify-content: center;
}

#cabeceralogo > div {
   flex: 1;
   max-width: 960px;
   padding-top: 45px;
}

#cabeceralogo h1 {
   font: bold 54px Arial, sans-serif;
   color: #FFFFFF;
}

#menuprincipal {
   display: flex;
   justify-content: center;
   width: 96%;
   height: 50px;
   padding: 0% 2%;
   background-color: #9FC8D9;
   border-top: 1px solid #094660;
   border-bottom: 1px solid #094660;
}

#menuprincipal > div {
   flex: 1;
   max-width: 960px;
}

#menuprincipal li {
   display: inline-block;
   height: 35px;
   padding: 15px 10px 0px 10px;
   margin-right: 5px;
}

#menuprincipal li:hover {
   background-color: #6Facc6;
}

#menuprincipal a {
   font: bold 18px Arial, sans-serif;
   color: #333333;
   text-decoration: none;
}

main  {
   display: flex;
   justify-content: center;
   width: 96%;
   padding: 2%;
}
main > div {
   display: flex;
   flex: 1;
   max-width: 960px;
}

#articulosprincipales {
   flex:1;
   margin-right: 20px;
   padding-top: 30px;
   background-color: #FFFFFF;
   border-radius: 10px;
}

#infoadicional {
   width: 280px;
   padding: 20px;
   background-color: #E7F1F5;
   border-radius: 10px;
}
#inforadicional h1 {
   font: bold 18px Arial, sans-serif;
   color: #333333;
   margin-bottom: 15px;
}

article {
   position: relative;
   padding: 0px 40px 20px 40px;
}

article time {
   display: block;
   position: absolute;
   top: -5px;
   left: -70px;
   width: 80px;
   padding: 15px 5px;
   background-color: #094660;
   box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.7);
   border-radius: 5px;
}

.numerodia {
   font: bold 36px Verdana, sans-serif;
   color: #FFFFFF;
   text-align: center;
}

.nombredia {
   font: 12px Verdana, sans-serif;
   color: #FFFFFF;
   text-align: center;
}

article h1 {
   margin-bottom: 5px;
   font: bold 30px Georgia, sans-serif;
}

article p {
   font: 18px Georgia, sans-serif;
}

figure {
   margin: 10px 0px;
}

figure img {
   max-width: 98%;
   padding: 1%;
   border: 1px solid;
}

#pielogo {
   display: flex;
   justify-content: center;
   width: 96%;
   padding: 2%;
   background-color: #0F76A0;
}

#pielogo > div {
   display: flex;
   flex: 1;
   max-width: 960px;
   background-color: #9FC8D9;
   border-radius: 10px;
}

.seccionpie {
   flex: 1;
   padding: 25px;
}

.seccionpie h1 {
   font: bold 20px Arial, sans-serif;
}

.seccionpie p {
   margin-top: 5px;
}

.seccionpie a {
   font: bold 16px Arial, sans-serif;
   color: #666666;
   text-decoration: none;
}