#contenedor {
   width: 1200px;
   margin: auto;
   position: relative;
}

#zonaformulario {
   float: left;
   padding: 30px;
   border: 2px solid #039;
}

#zonadatos {
   float: left;
   width: 500px;
   margin-left: 20px;
   padding: 20px;
   border: 2px dashed #0000FF;
}
.directorio {
   color: #0000FF;
   font-weight: bold;
   cursor: pointer;
}